.carousel.carousel-slider .control-arrow{
    opacity: 1;
}
.carousel.carousel-slider .control-arrow:hover{
    background-color: transparent;
}

.carousel .slide img {
    
    height: 100%;
    aspect-ratio: 1.5;
}