@font-face {
  font-family: 'Kaczun';
  src: local('Kaczun'), url(./assets/fonts/Kaczun\ Oldstyle\ W01\ Bold.ttf) format('opentype');
}
@font-face {
  font-family: 'Franklin';
  src: local('Franklin'), url(./assets/fonts/ITC\ Franklin\ W04\ Ultra\ Italic.ttf) format('opentype');
}
body {
  font-family: Franklin;
}
